<!DOCTYPE html>
<html>
<head>
    <title>Telegram Panel</title>

    <style>
        body{
            background:#0f172a;
            color:white;
            font-family:Arial;
            text-align:center;
            margin-top:100px;
        }

        .card{
            width:320px;
            margin:auto;
            background:#1e293b;
            padding:25px;
            border-radius:15px;
        }
    </style>
</head>
<body>

<div class="card">
    <h1>Telegram Connected ✅</h1>

    <p>Name: {{name}}</p>
    <p>Username: @{{username}}</p>
    <p>Phone: +{{phone}}</p>
</div>

</body>
</html>