<!DOCTYPE html>
<html>
<head>
    <title>Telegram Panel</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <div class="card">

        <h1 class="title">
            Telegram Connected ✅
        </h1>

        <p class="info">
            <b>Name:</b> {{name}}
        </p>

        <p class="info">
            <b>Username:</b> @{{username}}
        </p>

        <p class="info">
            <b>Phone:</b> +{{phone}}
        </p>

        <a class="btn" href="/profile">
            👤 Profile
        </a>

        <a class="btn" href="/chats">
            💬 Chats
        </a>

        <a class="btn" href="/channels">
            📢 Channels
        </a>

    </div>

</div>

</body>
</html>